<!DOCTYPE html>
<html lang="es">

	<head runat="server">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
			<meta charset="iso-8859-1">
			<meta name="description" content="Ejemplo de HTML5">
			<meta name="keywords" content="HTML5, CSS3, JavaScript">
			<title>SisInventario</title>
			<link rel="stylesheet" href="css/estilo.css">
	</head>
	
	<body>
		<div id="agrupar">
			<header id="cabecera">
				<img src="img/logo.png">
				<!--<li>
					<figure>
				 	<img src="img/logo teneria.png">
				 </figure>
				</li>

				<li>
				 	<h1><div style="color:#66372a;">Teneria Rubio C.A</div></h1>
				 	<h6>PROCESADORA INDUSTRIALES DE PIELES</h6>
				 </li>
				 -->
			</header>
			<header id="caja">
					<!--<div style="color:#ffffff">Sistema de Inventario de Equipos de Computacion</div>-->
			</header>
			<nav id="menu">
	
			</nav>
			<section id="seccion">
				<form class="contact_form" action="#" id="contact_form" runat="server"> 
				<table>

 					<td>
						<figure id="figure">
				 		<img src="img/planta.png">
				 		</figure>
					</td>

					<td>
						<aside id="clave">
								
							<div>
       							<ul>
       								<li><h2>Bienvenidos</h2><h6>Al sistema de inventario de computadoras de la Teneria Rubio C.A</h6><span class="requered_notification"></span></li>

       								<li></li>
       								<li>
       									<label for="name">Usuario:</label><input type="text" placeholder="servistec" required/>
       								</li>
       								<li>
       									<label for="name">Contrase&ntilde;a:</label><input type="text" placeholder="4523hgy" required/>
       								</li>
       								<li>
       									<label><a href="html/contrasena.html"><div>&#191olvidaste tu contrase&ntilde;a&#63</div></a></label>
       									<button class="submit" type="submit"><a href="html/programa.html">Ingresar</a></button>
       								</li>	
       							</ul>
       						</div>
       					</aside>
       				</td>
				</table>
			</section>
			
			<footer id="pie">
				Derechos reservados de &copy; 2015
			</footer>
		</div>
		</body>
	</html>
